body {
    background-color: #000000;
    color: #ffffff;
    font-family: Menlo, Courier New, monospace;
    font-size: 8px;
    line-height: 26px;
    margin: 0;
    text-align: center;
}

p {
  text-align: justify;
  margin: 40px;
}

div#header {
    height: 32px;
    padding-top: 64px;
    text-align: center;
}

div#textz {
    padding-top: 32px;
    padding-bottom: 64px;
}
