body {
    background-color: #000000;
    color: #ffffff;
    font-family: Menlo, Courier New, monospace;
    font-size: 13px;
    line-height: 26px;
    margin: 0;
    text-align: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #c0c0c0;
    text-decoration: underline;
}

div#header {
    height: 32px;
    padding-top: 256px;
    text-align: center;
}

div#textz {
    color: #ff0062
    padding: 16px;
    text-align: center;
}

div#textz a:hover {
    color: #b00000;
    text-decoration: underline;
}

div#footer {
    padding: 16px;
    padding-top: 32px;
    text-align: center;
}

div#links {
    padding: 16px;
    padding-bottom: 64px;
    padding-top: 0;
    text-align: center;
}
