body {
    background-color: #000000;
    color: #ffffff;
    font-family: Menlo, Courier New, monospace;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    text-align: center;
}

img {
    padding-top: 64px;
    width: 100px;
    max-width: 100%;
    height: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #b00000;
    text-decoration: underline;
}

div#header {
    height: 32px;
    padding-top: 128px;
    text-align: center;
}

div#tagline {
    text-align: center;
    font-size: 8pt;
}

div#textz {
    padding-top: 96px;
    padding-bottom: 96px;
}

div#footer {
    padding: 16px;
    text-align: center;
}

div#links {
    padding: 16px;
    text-align: center;
}
