html {
    background-color: black;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
    transition: background-color .2s ease-in-out, opacity .2s ease-in-out;
    font-family: "Courier New", monospace;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

body.loaded {
    background-color: transparent;
    opacity: 1;
}

body.ready {
    opacity: 1;
}

a {
    color: #d00000;
    transition: color 0.4s ease;
}

a:link {
    text-decoration: none;
}

a.red {
    user-select: none;
    color: #d00000;
}

a:hover {
    color: #300000;
}

#header {
    user-select: none;
    position: absolute;
    top: 25%;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
    transform: translateY(-50%);
}

.texts {
    user-select: none;
    position: absolute;
    top: 50%;
    width: 100%;
    letter-spacing: 0px;
    line-height: 25px;
    text-align: center;
    transform: translateY(-50%);
}

.footer-links {
    user-select: none;
    position: absolute;
    bottom: 30%;
    width: 100%;
    text-align: center;
}

#footer {
    position: absolute;
    bottom: 25%;
    width: 100%;
    letter-spacing: 2px;
    text-align: center;
}

.rainbow {
    animation: rainbow 1s infinite linear;
}

.rainbow-color-1 { color: #DC143C; }
.rainbow-color-2 { color: #FF8C00; }
.rainbow-color-3 { color: #FFD700; }
.rainbow-color-4 { color: #00FF00; }
.rainbow-color-5 { color: #1E90FF; }
.rainbow-color-6 { color: #6A5ACD; }
.rainbow-color-7 { color: #9400D3; }
.rainbow-color-8 { color: #C71585; }

@keyframes rainbow {
    0%   { color: #DC143C; }
    14%  { color: #FF8C00; }
    28%  { color: #FFD700; }
    42%  { color: #00FF00; }
    57%  { color: #1E90FF; }
    71%  { color: #6A5ACD; }
    85%  { color: #9400D3; }
    100% { color: #C71585; }
}
