html {
    background-color: black;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: white;
    transition: background-color .12s ease-out, opacity .12s ease-out;
    font-family: "Courier New", monospace;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 22px;
    opacity: 0;
}

body.loaded {
    background-color: transparent;
    opacity: 1;
}

body.ready {
    opacity: 1;
}

a {
    color: #d00000;
    transition: color 0.4s ease;
}

a:link {
    text-decoration: none;
}

a.red {
    user-select: none;
    color: #d00000;
}

a:hover {
    color: #200000;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#about {
    user-select: none;
    width: 180px;
    margin: 32px 32px;
    letter-spacing: 2px;
    line-height: 25px;
    text-align: left;
}

#header {
    user-select: none;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 48px; /* Adjusted margin to control spacing */
    letter-spacing: 2px;
}

.texts {
    user-select: none;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 48px; /* Adjusted margin to control spacing */
    letter-spacing: 0px;
    line-height: 25px;
}

.footer-links {
    margin-left: 32px;
    margin-right: 32px;
    user-select: none;
    margin-bottom: 24px; /* Adjusted margin to control spacing */
}

#footer {
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 24px; /* Adjusted margin to control spacing */
    letter-spacing: 2px;
}

@keyframes fadeInFromBlue {
    0% {
        color: blue;
        opacity: 0;
    }
    100% {
        color: #d00000; /* Final link color */
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#header, #footer {
    animation: fadeIn 1s ease-in forwards; /* Adjust timing as needed */
}

body.loaded #header, body.loaded #footer {
    animation: fadeIn 1s ease-in forwards; /* Adjust timing as needed */
}


.texts a, .footer-links a {
    animation: fadeInFromBlue .4s ease-out forwards; /* Adjust timing as needed */
}

body.loaded .texts a, body.loaded .footer-links a {
    animation: fadeInFromBlue .4s ease-out forwards; /* Adjust timing as needed */
}

.rainbow {
    animation: rainbow .5s infinite linear;
}

.rainbow-color-1 { color: #DC143C; }
.rainbow-color-2 { color: #FF8C00; }
.rainbow-color-3 { color: #FFD700; }
.rainbow-color-4 { color: #00FF00; }
.rainbow-color-5 { color: #1E90FF; }
.rainbow-color-6 { color: #6A5ACD; }
.rainbow-color-7 { color: #9400D3; }
.rainbow-color-8 { color: #C71585; }

@keyframes rainbow {
    0%   { color: #DC143C; }
    14%  { color: #FF8C00; }
    28%  { color: #FFD700; }
    42%  { color: #00FF00; }
    57%  { color: #1E90FF; }
    71%  { color: #6A5ACD; }
    85%  { color: #9400D3; }
    100% { color: #C71585; }
}
