body {
    font-family: Menlo, Courier New, monospace;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
    margin: 0;
    line-height: 26px;
    font-size: 13px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.ready {
    opacity: 1;
}

.container {
    max-width: 100%;
    width: auto;
    height: auto;
    max-width: 390px;
}

.image-container {
    display: flex;
    flex-direction: column;
    font-size: 5pt;
}

header {
    margin: 16px;
}

main {
    margin-top: 48px;
    margin-bottom: 24px;
    letter-spacing: 2px;
}

footer {
    margin: 32px;
}

img {
    width: 270px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {
    color: #d81c16;
}

p {
    margin: 40px;
}
