html {
    background-color: #000000;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    min-height: 100%;
    transition: opacity 1s ease-in-out;
    font-family: "Fira Code", monospace;
    user-select: none;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

body.ready {
    opacity: 1;
}

#container {
    max-width: 220px;
    height: auto;
    margin: auto auto;
    overflow: visible;
}

a {
    color: #ffffff;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #a00000;
}

#main {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    text-align: left;
}

#header {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: red;
    white-space: nowrap;
}

#footer {
    text-align: left;
    text-decoration: none;
}

button {
    font-family: 'Fira Code', monospace;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    color: #ff0000;
    background: none;
    font-size: 14px;
    border: none;
    text-decoration: none;
}

textarea, input {
    font-family: 'Fira Code', monospace;
    border: none;
    text-decoration: none;
    font-size: 14px;
}
